.badge {
  background-color: tomato;
  color: white;
  font-weight: 600;
  font-size: 12px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: badgeAnimation 1s ease-in-out infinite;
}

@keyframes badgeAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: none;
  }
}

.badge-dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: tomato;
  animation: badgedotBlink 1s ease-in-out infinite;
}

@keyframes badgedotBlink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
