.user-component {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
}

.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 30px;
  margin-right: 20px;
}

.user-component__avatar--xl {
  width: 80px;
  height: 80px;
  border-radius: 35px;
}

.user-component__avatar--sm {
  width: 60px;
  height: 60px;
  border-radius: 25px;
}

.user-component__title {
  font-weight: 600;
  font-size: 20px;
}

.user-component__title--not-bold {
  font-weight: 400;
}

.user-component__subtitle {
  color: #bebebe;
  display: flex;
  align-items: center;
}

.user-component__column:last-child {
  color: #c3c3c3;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-component__time {
  display: block;
  margin-bottom: 7px;
}
